@import 'ol/ol.css';
header {
  box-shadow: var(--wa-shadow-l);
}

/* wa-input のサイズ調整 */
.navbar-search {
  wa-input {
    width: 14rem;
  }
}

/* 地図エリア */
main {
  padding: 0; // ::slotted(main) を上書き
}

#map {
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  width: 100%;
  background-color: #1d475f;
}

.ol-mouse-position {
  color: var(--wa-color-warning);
}

.ol-popup {
  position: absolute;
  bottom: 12px;
  left: -50px;
  min-width: 300px;
  box-shadow: var(--wa-color-shadow);

  &:after,
  &:before {
    top: 100%;
    left: 48px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: var(--wa-color-neutral-border-normal);
  }
  &:after {
    border-width: 10px;
    margin-left: -10px;
  }
}
